<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Quest Store</title>
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/content.css">
    <link rel="stylesheet" href="/static/css/page-footer.css">
    <link href="https://fonts.googleapis.com/css?family=Merienda:700|Paprika" rel="stylesheet"> 
</head>

<body>
    <nav class="navbar">
        <div class="navbar-store">
        <img class="navbar-logo" src="/static/images/logo.png" alt="Logo Codecool">
        Quest Store
        </div>
        <ul class="navbar-list">
        <li>
            <a href="/admin/profile">
            Profile
            </a>
        </li>
        <li>
            <a href="/admin/mentors">
            Mentors
            </a>
        </li>
        <li>
            <a href="/admin/classes">
            Classes
            </a>
        </li>
        <li>
            <a href="/admin/degrees">
            Degrees
            </a>
        </li>
        <li>
            <a href="/logout">
                <img class="navbar-logout" src="/static/images/logout.png" alt="Logout" title="Press to logout">
            </a>
        </li>
        </ul>
    </nav>

    <section class="content-section">
        <div class="div-content-section">
            <h1>Classes</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assign mentors</th>
                        <th>Codecoolers</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
			{% for class in classrooms %}
		            <tr>
		                <td>{{ class.getName() }}</td>
		                <td>{{ class.getK() }}</td>
		                <td>{{ class.getL() }}</td>
		                <td>
		                    <a href="/admin/classes/edit/{{ class.getId() }}"><img class="table-img" src="/static/images/edit.png" alt="View/Edit" title="View/Edit class"></a></td>
		            </tr>
			{% endfor %}    
                    
                </tbody>
            </table> 
            <a class="under-table-a" href="/admin/classes/create_class">
                <img class="under-table-img" src="/static/images/add.png" alt="Add new class" title="Add new class">
            </a>
        </div>
    </section>

    <footer class="page-footer">
        &#169; Copyright a&#38;a 2018
    </footer>   

</body>
</html>
