<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Quest Store</title>
    <link rel="stylesheet" href="/static/css/adamstandard.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/page-footer.css">
    <link href="https://fonts.googleapis.com/css?family=Merienda:700|Paprika" rel="stylesheet"> 
</head>

<body>
    <nav class="navbar">
        <div class="navbar-store">
        <img class="navbar-logo" src="/static/images/logo.png" alt="Logo Codecool">
            Quest Store
        </div>
        <ul class="navbar-list">
            <li>
                <a href="/admin/profile">
                    Profile
                </a>
            </li>
            <li>
                <a href="/admin/mentors">
                    Mentors
                </a>
            </li>
            <li>
                <a href="/admin/classes">
                    Classes
                </a>
            </li>
            <li>
                <a href="/admin/degrees">
            Degrees
            </a>
        </li>
        <li>
            <a href="/logout">
                <img class="navbar-logout" src="/static/images/logout.png" alt="Logout" title="Press to logout">
            </a>
        </li>
        </ul>
    </nav>
<div class="main">    
    <div class="flexbox-container">
        <form method="POST">
            <div>
                <h2>Create new degree:</h2>
                <p class="nameinput">Name:</p>
                <input class="profilebox" type="text" name="degreeName" value="">
            </div>
            <div>
                <p class="nameinput"> Minimum coolcoins:</p>
                <input class="profilebox" type="text" name="minCoolcoins" value="">
            </div>
            <div>
                <input class="submitbutton" type="submit" value="Create new degree">
            </div>
        </form>
    </div>
</div> 
    <footer class="page-footer">
        &#169; Copyright a&#38;a 2018
    </footer>   
</body>
</html>
