<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Quest Store</title>
    <link rel="stylesheet" href="/static/css/adamstandard.css">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/content.css">
    <link rel="stylesheet" href="/static/css/page-footer.css">
    <link href="https://fonts.googleapis.com/css?family=Merienda:700|Paprika" rel="stylesheet"> 
</head>

<body>
    <nav class="navbar">
        <div class="navbar-store">
        <img class="navbar-logo" src="/static/images/logo.png" alt="Logo Codecool">
        Quest Store
        </div>
        <ul class="navbar-list">
        <li>
            <a href="/login/admin/profile">
            Profile
            </a>
        </li>
        <li>
            <a href="/login/admin/mentors">
            Mentors
            </a>
        </li>
        <li>
            <a href="/login/admin/classes">
            Classes
            </a>
        </li>
        <li>
            <a href="/login/admin/degrees">
            Degrees
            </a>
        </li>
        <li>
            <a href="/login">
                <img class="navbar-logout" src="/static/images/logout.png" alt="Logout" title="Press to logout">
            </a>
        </li>
        </ul>
    </nav>

   <div class="main">    
    <div class="flexbox-container">
        <img src="/static/images/admin.png" class="avatar">
        <form method="POST"">
            <div id="topcontent">
                <h2>{{ admin.getFirstName()}} {{ admin.getLastName() }}</h2>
                <p class="nameinput"> Password:</p>
                <input class="profilebox" type="text" name="password" value="{{ admin.getPassword() }}">
            </div>
            <div>
                <p class="nameinput">Email:</p>
                <input class="profilebox" type="text" name="email" value="{{ admin.getEmail() }}">
            </div>
            <div>
                <input class="submitbutton" type="submit" value="Save changes">
            </div>
        </form>
    </div>
</div> 

    <footer class="page-footer">
        &#169; Copyright a&#38;a 2018
    </footer>   

</body>
</html>
