<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Quest Store</title>
    <link rel="stylesheet" href="css/adamstandard.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/page-footer.css">
    <link href="https://fonts.googleapis.com/css?family=Merienda:700|Paprika" rel="stylesheet"> 
</head>

<body>
    <nav class="navbar">
        <div class="navbar-store">
        <img class="navbar-logo" src="images/logo.png" alt="Logo Codecool">
        Quest Store
        </div>
        <ul class="navbar-list">
        <li>
            <a href="/login/admin/profile">
            Profile
            </a>
        </li>
        <li>
            <a href="/login/admin/mentors">
            Mentors
            </a>
        </li>
        <li>
            <a href="/login/admin/classes">
            Classes
            </a>
        </li>
        <li>
            <a href="/login/admin/degrees">
            Degrees
            </a>
        </li>f
        <li>
            <a href="/login">
                <img class="navbar-logout" src="images/logout.png" alt="Logout" title="Press to logout">
            </a>
        </li>
        </ul>
    </nav>
<div class="main">    
    <div class="flexbox-container">
        <form mthod="POST">
            <div>
                <h2>{{ degree.degreeName() }}</h2>
                <p class="nameinput">Name:</p>
                <input class="profilebox" type="text" name="degreeName" value="{{ degree.degreeName() }}">
            </div>
            <div>
                <p class="nameinput"> Minimum coolcoins:</p>
                <input class="profilebox" type="text" name="minCoolcoins" value="{{ degree.getMinCoolcoins() }}">
            </div>
            <div>
                <input class="submitbutton" type="submit" value="Save changes">
            </div>
        </form>
    </div>
</div> 
    <footer class="page-footer">
        &#169; Copyright a&#38;a 2018
    </footer>   
</body>
</html>
